

html {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

*, 
*::before,
*::after{
box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  padding:0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


body{
  line-height: 1.5;
  min-height: 100vh;
  // mobile viewport bug fix
  min-height: -webkit-fill-available; 
  font-family: $ff-sans-normal;
  font-size: $fs-400;
}


img,
picture{
  max-width: 100%;
  height: auto;
  display: block;
}



input, 
button, 
textarea, 
select{
  font: inherit
}

.App{
   min-height: 100vh;
   border: 1px solid green;
}

body{
    background-image: url(../../assets/image/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    overflow: hidden;
    // height: 100vh;
}

@media screen and (max-width: 768px){

    body {
    background-image: url(../../assets/image/home/background-home-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    overflow: hidden;
    // height: 100vh;
    }
}


@media screen and (max-width: 480px){

    body {
    background-image: url(../../assets/image/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    overflow: hidden;
    // height: 100vh;
    }
}