.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  // height: 59px;

  &__logo-wrap{
    outline: 1px solid blue;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }




  button{
    display: none;
  }


  .nav{
    // outline: 1px solid blue;
    display: flex;
    position: relative;
    // flex-direction: row;
    // align-items: center;
    background-color: #ffffff10;
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    z-index: 0;

    div{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: clamp( 1rem, 3vw, 2.2rem);
      z-index: -1;
      li{
        list-style-type: none;
        // outline: 1px solid red;
        padding: 1.5rem 0.2rem 1.2rem 0.2rem;

        a{
          text-decoration: none;
          font-family: $ff-sans-cond;
          text-transform: uppercase;
          // letter-spacing: 2px;
          color: $clr-white;
          span{
            margin-right: clamp( 0.3rem, 1vw, 0.5rem);
          }
        }
      }

      li:nth-child(1){
        margin-left: clamp( 5rem, 9vw, 7rem);
        margin-right: 1rem;
      }

      li:nth-child(2),
      li:nth-child(3){
        margin-left: 1rem;
        margin-right: 1rem;
      }

      li:nth-child(4){
        margin-left: 1rem;
        margin-right: clamp( 6rem, 10vw, 8rem)
      }

      .active{
        border-bottom: 3px solid #fff;
        margin-bottom: -3px;
      }

      .inactive:hover,
      .inactive:focus{
        border-bottom: 3px solid rgb(255, 255, 255, 0.5);
        margin-bottom: -3px;
        // padding-bottom: -15px;
        // transition: 0.3s border-bottom linear;
      }

    }
  }

  .nav::before{
    content:'';
    display:inline-block;
    width: calc(100% - 7rem);
    // width:100%; 
    // height:100%;
    // margin-right:-100%;
    border-bottom:1px solid #fff;
    // margin-right:-2rem;
    z-index: -1;
    position:absolute;
    right: 95%;
    top: 50%;

  }

}

@media screen and (max-width:1024px) {

  .header{

    .nav{
      div{
        margin-left: 0;
      }
    }

    .nav::before{
      width: calc(100% - 22rem);
      // display: none;
    }
  }
  

 }


@media screen and (max-width:900px) {
    /* style changes when the screen gets smaller */

    .header{

      .nav::before{
        // width: calc(100% - 27rem);
        display: none;
      }
    }
 
}

@media screen and (max-width:768px) {
        /* And even smaller */
       .header{
        margin-top: 0;


        &__logo-wrap{
          width: 95px;
        }

        .nav{
          display: none;
        }


       .open-sidebar{
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../../assets/image/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 99999;
        cursor: pointer;
        border: none;
        transition: background-image 0.3s ease-in-out;
      }

        .close-sidebar{
          display:block;
          width: 60px;
          height: 60px;
          background-image: url(../../assets/image/shared/icon-close.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          // width: 3rem;
          // height: 3rem;
          position: absolute;
          top: 10px;
          right: 20px;
          z-index: 99999;
          cursor: pointer;
          border: none;
          transition: background-image 0.3s ease-in-out;
        }

    }
}


@media screen and (max-width:425px){}
    