@media screen and (min-width:1024px) {
  .sidebar-nav{
    display: none;
  }
}

@media screen and (max-width:900px) {
    .sidebar-nav{
        // outline: 1px solid blue;
        position:fixed;
        right: 0;
        height: 100vh;
        width: 60%;
        background-color: #ffffff10;
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 12px );
        

        &__wrapper{
          position:fixed;
          right: 0;
          top: 7rem;
          // outline: 1px solid green;
          width: 80%;


          li{
            padding: 0;
            width: 100%;
            list-style-type: none;

            a{
              text-decoration: none;
              font-family: $ff-sans-cond;
              text-transform: uppercase;
              // letter-spacing: 2px;
              color: $clr-white;
              span{
              margin-right: clamp(0.5rem, 2vw, 1.2rem)
            }
            }
            
            
          }

          li:nth-child(1){
            // margin-left: 0;
            // margin-right: 0;
          }

          li:nth-child(2),
          li:nth-child(3){
            // margin-left: 0;
            // margin-right: 0;
            margin-top: clamp(0.8rem, 10vh, 1.2rem);
          }

          li:nth-child(4){
            // margin-left: 0;
            // margin-right: 0;
            margin-top: clamp(0.8rem, 10vh, 1.2rem);
          }

           .active{
            border-right: 3px solid #fff;
            border-bottom: none;
          }

          .inactive:hover,
          .inactive:focus{
            border-right: 3px solid rgb(255, 255, 255, 0.5);
            border-bottom: none;
            margin-bottom: 0;
            transition: 0.3s border-right ease-in-out;
          }
        }
        
      }
}